protorootfile ../ROOTfiles/lad_replay_production_XXXXX_latest.root
guicolor orange
canvassize 1600 800

newpage 3 2
title LAD Hodo ADC

newpage 3 2
title Ped
Btm_Ped_0
Top_Ped_0

newpage 3 2
title Waveform
Btm_Waveform_0
Btm_Waveform_1
Btm_Waveform_2
Top_Waveform_0
Top_Waveform_1
Top_Waveform_2

newpage 3 1
title Pulse Time Diff
Max_Adc_Time_Diff_Normalized
Max_Adc_Time_Diff_0
Max_Adc_Time_Diff




#Below are examples from HMS config

#newpage  4 2
#title HMS Hodoscope ADC Occ/Mult
#macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_adc_occ_pos","hhodo_1x_good_adc_occ_neg","1x+","1x-","1x Good ADC Occupancy")'
#macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_adc_occ_pos","hhodo_1y_good_adc_occ_neg","1y+","1y-","1y Good ADC Occupancy")'
#macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_adc_occ_pos","hhodo_2x_good_adc_occ_neg","2x+","2x-","2x Good ADC Occupancy")'
#macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_adc_occ_pos","hhodo_2y_good_adc_occ_neg","2y+","2y+","2y Good ADC Occupancy")'
#macro 'UTIL/GEN/overlay2.C("hhodo_1x_good_adc_mult_pos","hhodo_1x_good_adc_mult_neg","1x+","1x-","1x Good ADC Multiplicity")'
#macro 'UTIL/GEN/overlay2.C("hhodo_1y_good_adc_mult_pos","hhodo_1y_good_adc_mult_neg","1y+","1y-","1y Good ADC Multiplicity")'
#macro 'UTIL/GEN/overlay2.C("hhodo_2x_good_adc_mult_pos","hhodo_2x_good_adc_mult_neg","2x+","2x-","2x Good ADC Multiplicity")'
#macro 'UTIL/GEN/overlay2.C("hhodo_2y_good_adc_mult_pos","hhodo_2y_good_adc_mult_neg","2y+","2y-","2y Good ADC Multiplicity")'

#newpage  4 2 logz
#title HMS Hodoscope Pedestals
#hhodo_1x_good_pped_vs_pmt_pos
#hhodo_1y_good_pped_vs_pmt_pos
#hhodo_2x_good_pped_vs_pmt_pos
#hhodo_2y_good_pped_vs_pmt_pos
#hhodo_1x_good_pped_vs_pmt_neg
#hhodo_1y_good_pped_vs_pmt_neg
#hhodo_2x_good_pped_vs_pmt_neg
#hhodo_2y_good_pped_vs_pmt_neg

#newpage 4 2 
#title HMS Hodoscope Pedestal Monitoring
#macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_replay_production_golden.root","hodo_1x","h",1)'
#macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_replay_production_golden.root","hodo_1y","h",1)'
#macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_replay_production_golden.root","hodo_2x","h",1)'
#macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_replay_production_golden.root","hodo_2y","h",1)'
#macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_replay_production_golden.root","hodo_1x","h",2)'
#macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_replay_production_golden.root","hodo_1y","h",2)'
#macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_replay_production_golden.root","hodo_2x","h",2)'
#macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/hms_replay_production_golden.root","hodo_2y","h",2)'

#macro UTIL/GEN/overlay2.C("hdc1x2_ddist","hdc2x2_ddist","1X2","2X2")
#macro UTIL/GEN/overlay2.C("hdc1v1_ddist","hdc2u1_ddist","1V1","2U1")
#macro UTIL/GEN/overlay2.C("hdc1v2_ddist","hdc2u2_ddist","1V2","2U2")

#title HMS Drift Chamber 1 Efficiency 
#macro UTIL/GEN/dcwire_efficiency.C("hdc1x1_wirenum_did","hdc1x1_wirenum_should")
#macro UTIL/GEN/dcwire_efficiency.C("hdc1x2_wirenum_did","hdc1x2_wirenum_should")
#macro UTIL/GEN/dcwire_efficiency.C("hdc1u1_wirenum_did","hdc1u1_wirenum_should")
#macro UTIL/GEN/dcwire_efficiency.C("hdc1u2_wirenum_did","hdc1u2_wirenum_should")
#macro UTIL/GEN/dcwire_efficiency.C("hdc1v1_wirenum_did","hdc1v1_wirenum_should")
#macro UTIL/GEN/dcwire_efficiency.C("hdc1v2_wirenum_did","hdc1v2_wirenum_should")

#newpage 2 1
#title HMS EPICS BPM
#macro UTIL/BEAMLINE/plot_beam.C("X")
#macro UTIL/BEAMLINE/plot_beam.C("Y")

#newpage 3 2 
#title HMS Trigger Pedestal Tracking
#macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_replay_production_golden.root","ASum","h")'
#macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_replay_production_golden.root","BSum","h")'
#macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_replay_production_golden.root","CSum","h")'
#macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_replay_production_golden.root","DSum","h")'
#macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_replay_production_golden.root","cersum","h")'
#macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_replay_production_golden.root","preShwr","h")'
#macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/hms_replay_production_golden.root","shwr","h")'
